# General Ignores + IDE
.DS_Store
settings.xml
WEB-INF

# Engines + Database + CBFS + Secrets
.env
.engine/**
.cbfs/**
build/.db/**

# logs + test results
logs/**
tests/results/**

# npm
**/node_modules/*
npm-debug.log
yarn-error.log

## Global Libs
lib/coldbox/**
lib/testbox/**
lib/vendor/**

# Modules
modules/**
