# General Ignores + IDE + Secrets
.DS_Store
.env
effective-pom.xml

# Deployed Engines
.engine/**

# logs + test results
app/logs/**
tests/results/**

# npm
**/node_modules/*
npm-debug.log
yarn-error.log

## Global Libs
lib/**
!lib/java/
!lib/java/.gitkeep
!lib/modules/
!lib/modules/.gitkeep